# For canary.uniform.app API keys only - remove for uniform.app
UNIFORM_CLI_BASE_URL='https://uniformapp-dev.s3.amazonaws.com/optimize/'

# Uniform downloads the intent data at build time and bakes it into your site so there are no additional required network requests.
UNIFORM_API_KEY='<uniform-optimize-api-key>'
